body {
    background-color: #1D2D3C;
}

header {
    background-color: #06131F;
}
.ms_container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.card {
    background-color: #112030;
}

.ms_logo {
    width: 5%;
    margin-left: 70px;
}